extend templates/masterA.jade

append stylesheet
  +include-css("/assets/css/index.css")
  style.
    body {
      visibility: hidden;
    }

block content-without-container
  section#cover
    .center-block
      .wrapper-block
        h1=majorName.toUpperCase()
        h2=minorName.toUpperCase()
        form#searchform(method="get", action="https://www.baidu.com/s")
          input#searchinput(type="text", name="q1", required, placeholder=searchHint)
          input(type="hidden", name="q6", value=domain)
        h3=script
    #scrollbutton-wrapper
      a(href="#introduce")
        img#scrollbutton(src="/assets/i/scroll.png", alt="")
  section#introduce
    .container
      +label(introduceCaption)
    #introduce-wrapper
      .container
        #wrapper
          ul.introduce-nav
            each value in introduce
              li.nav-dot
          each value in introduce
            .introduce-item
              - var paras = value.replace(/\n\n/g, "\r").replace(/\n/g, "").split("\r");
              each para in paras
                p=para

append javascript
  script var bg = !{JSON.stringify(bg)};
  script.
    $(function() {
      $("a[href*=#],area[href*=#]").click(function() {
        if (location.pathname.replace(/^\//, "") == this.pathname.replace(/^\//, "") && location.hostname == this.hostname) {
          var $target = $(this.hash);
          $target = $target.length && $target || $("[name=" + this.hash.slice(1) + "]");
          if ($target.length) {
            var targetOffset = $target.offset().top;
            $("html, body").animate({
                scrollTop: targetOffset
            },
            "normal");
            return false;
          }
        }
      });
      $($(".nav-dot")[0]).addClass("active");
      $($(".introduce-item")[0]).addClass("active");
      $(".introduce-item").hide();
      $(".introduce-item.active").show();
      $(".nav-dot").click(function() {
        var jQthis = $(this);
        if(jQthis.hasClass("active")) return;
        $(".nav-dot.active").removeClass("active");
        jQthis.addClass("active");
        var index = $(".nav-dot").index($(this));
        $(".introduce-item.active").removeClass("active").fadeOut(function() {
          $($(".introduce-item")[index]).addClass("active").fadeIn();
        });
      });
      
      function bgSlide(item, selector) {
        $(selector).prepend($("<div></div>").addClass("bgimg").addClass("bgimg-bg"))
          .prepend($("<div></div>").addClass("bgimg").addClass("bgimg-fg"));
        function preloadImages(imgs) {
          for (var i = 0; i < imgs.length; i++) {
            $("<img />").attr("src", imgs[i]);
          }
        }
        function runSlide(){
          if(item.index == undefined || item.index == item.urls.length) item.index = 0;
          $(selector).children(".bgimg-bg")
            .css("background-image", 'url("' + item.urls[item.index] + '")');
          $(selector).children(".bgimg-fg").fadeOut('slow', function(){
            $(this).css("background-image", 'url("' + item.urls[item.index] + '")').show();
            item.index++;
          });
        }
        preloadImages(item.urls)
        setInterval(runSlide, item.time);
        runSlide()
      }
      
      bgSlide(bg.firstpage, "section#cover");
      bgSlide(bg.introduce, "section#introduce");
      
      var h = $(window).height() - $("header").height();
      h = h < 600 ? 600 : h;
      $("section").height(h);
      $("#introduce-wrapper").height($("section").height() - 188);
      $("body").css("visibility", "visible");
    });
  
