extend templates/masterB.jade

append stylesheet
  +include-css("/assets/css/news.css")

block content
  #wrapper.row
    .col-sm-8
      each list in leftSide
        if list.name
          +content-title(list.name)
        each value in list.items
          .card.folded
            .card-header
              h1=value.title
              h2=value.date
            .clearfix
              +content-circle("", value.imageUrl)
              - var paras = value.paras.replace(/\n\n/g, "\r").replace(/\n/g, "").split("\r");
              each para in paras
                p=para
    .col-sm-4.sidebar
      .card
        #searchform
          #searchicon
            #iconborder
              #iconcore
          form(method="get", action="https://www.baidu.com/s")
            input#searchinput(type="text", name="q1", required, placeholder="搜索..")
            input(type="hidden", name="q6", value=domain)
      each list in rightSide
        .card
          .card-header
            h2=list.name
          each value in list.items
            .tile
              +content-circle("", value.imageUrl)
              p=value.text
