extend templates/masterB.jade

append stylesheet
  +include-css("/assets/css/news.css")

block content
  #wrapper.row
    .col-sm-8
      each value in news
        .card.folded
          .card-header
            h1=value.title
            h2=value.date
          .clearfix
            +content-circle("", value.imageUrl)
            - var paras = value.paras.replace(/\n\n/g, "\r").replace(/\n/g, "").split("\r");
            each para in paras
              p=para
    .col-sm-4.sidebar
      .card
        .card-header
          h2 要问快报
        each value in reports
          .tile
            +content-circle("", value.imageUrl)
            p=value.text
      .card
        #searchform
          #searchicon
            #iconborder
              #iconcore
          form(method="get", action="https://www.baidu.com/s")
            input#searchinput(type="text", name="q1", required, placeholder="搜索..")
            input(type="hidden", name="q6", value=domain)
